<p id="notice">
  <%= flash[:notice] %>
</p>

<div class="container">
  <div class="row">

    <!--user_info left_side-->
    <%= render 'users/user_info', user: @user, book: @book %>

    <!--book_detail right_side-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= image_tag @user.get_profile_image(80,80) %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
              <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
              <% end %>
            </td>
	    <td>
  	      <% if @book.favorited_by?(current_user) %>
    	      <p>
     		<%= link_to book_favorite_path(@book), method: :delete do %>
       		  ♥<%= @book.favorites.count %> いいね
     	        <% end %>
    	      </p>
   	      <% else %>
  	      <p>
     	        <%= link_to book_favorite_path(@book), method: :post do %>
		  ♡<%= @book.favorites.count %> いいね
	        <% end %>
    	      </p>
 	      <% end %>
 	    </td>
          </tr>
        </tbody>
      </table>
      <div>
        <p>コメント件数：<%= @book.book_comments.count %></p>
        <% @book.book_comments.each do |book_comment| %>
          <p><%= image_tag book_comment.user.get_profile_image(100,100) %></p>
          <%= book_comment.user.name %>
          <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@book, @book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
